.list-dry,.list-ing,.flour-img{
    display: inline-block;
    vertical-align: text-bottom;
    background-color: rgb(158, 227, 229);
    width: 150px;
    border: 10px solid blue ;
    border-radius: 15px;
    
}
.body{
    background-color: black;
}
.main-title{

    font-style: italic;
    background-color: rgb(244, 227, 206);
    background-size: contain;
}
.flour-img{
    display: inline-block;
height: auto;
width: 180px;
padding: 5px;}
.list-meat,.list-veg,.steak-img{
    display: inline-block;
    vertical-align: text-bottom;
    background-color: rgb(209, 62, 62);
    width: 150px;
    border: 10px solid rgb(66, 0, 0) ;
    border-radius: 15px;
}
.ref-block{
vertical-align:bottom;
text-align: center;
border-color: rgb(217, 10, 10);
border-radius: 20%;
border:10px solid;
margin-inline-start: 5vw;
margin-inline-end: 5vw;
}
/* look up view width/height */
.dry-goods{
    vertical-align: bottom;
    text-align: center;
    border:10px solid;
    padding:10px;
    border-color: rgb(0, 136, 255);
border-radius: 20%;
margin-inline-end: 5vw;
margin-inline-start: 5vw;
}
.dry-goods{block-size: auto;}
.list-ing{
    align-items: left;
    text-align: left;
}
.list-dry{
    text-align: left;
}
h3{
    text-align: center;
}
h1{
    text-align: center;
}
.canned-goods{
    color:dodgerblue ;
}
.nonper{
    color:dodgerblue;
}
.veggies{
    color: burlywood;
}
.meats{
    color: burlywood;
}
.dry-title{
    text-align: center;
    color: rgb(11, 167, 167);
}
.refr-title{
    text-align: center;
    color: brown;
}
.list-meat{
    text-align: left;
}
.list-veg{
    text-align: left;
}

.steak-img{
    display: inline-block;
    height: auto;
    width: 180px;
    padding: 5px
}